@charset "utf-8";

.characters--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
}

.character-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  div {
    img{
      width: 100%;
      border-radius: 10px;
    }
    h2, p {
      margin: 0;
    }
  }
}

.imagen {
  text-align: center; /* Centra la imagen horizontalmente */
}

.imagen img {
  max-width: 100%;
  height: auto;
}

.info {
  padding: 10px;
}

.info h2, .info p {
  margin: 0;
}

/* Tablets */
@media screen and (min-width: 40em) {
  .characters--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}

/* Desktop */
@media screen and (min-width: 62em) {
  .characters--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}

ul.pagination li a {
  border-radius: 5px;
}

ul.pagination li a.active {
  border-radius: 5px;
}
