<!-- app.component.html -->
<div *ngIf="currentPage === 'inicio'">
  <button (click)="start()">Comenzar</button>
</div>

<div *ngIf="currentPage === 'loading'">
  <p>Cargando...</p>
</div>

<div *ngIf="currentPage === 'personajes'" class="characters--grid">
  <div *ngFor="let character of characters">
    <div class="character-card">
      <img [src]="character.image" alt="{{ character.name }}" />
      <div class="info">
        <p>{{ character.name }}</p>
        <p>{{ character.location.name }}</p>
      </div>
    </div>
  </div>

  <!-- Paginación -->
  <button (click)="loadPage(page - 1)" [disabled]="page === 1">Anterior</button>
  <button (click)="loadPage(page + 1)" [disabled]="characters.length < pageSize">Siguiente</button>
</div>

<button *ngIf="currentPage !== 'inicio'" (click)="goBack()">Atrás</button>
